# Django
*.log
*.pot
*.pyc
# Python bytecode
__pycache__/
*.py[cod]
*$py.class
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Environment variables
.env
Oversee_backend/db.sqlite3
